body {
  /* background: rgb(248, 250, 251); */
  background: rgb(242, 245, 247);
}

.navbar {
  background-color: red;
  color: pink;
}

.card {
  border-color: white;
}

.test {
  background: rgb(197, 35, 14);
}

.accordion-item {
  border: none;
}

.clickable:hover {
  border: 1px solid rgb(209, 209, 209);
  background: white;
  border-radius: 15px;
}