body {
  /* background: rgb(248, 250, 251); */
  background: rgb(242, 245, 247);
}

.navbar {
  background-color: red;
  color: pink;
}

.card {
  border-color: white;
}

.test {
  background: rgb(18, 135, 39);
}

.accordion-item {
  border: none;
}

.clickable:hover {
  border: 1px solid rgb(209, 209, 209);
  background: white;
  border-radius: 15px;
}

#video-background {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  z-index: -1;
}

.main_header:hover {
  background: rgb(255, 255, 255, 0.5);
}


